xFACts-Documentation/WorkingFiles/bdl_dcmnt_rqst_sbjct_rcrd.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.fico.com/xml/debtmanager/data/v1_0" targetNamespace="http://www.fico.com/xml/debtmanager/data/v1_0"
           elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xs:include schemaLocation="../../../dm_import_export_common.xsd" />


    <xs:complexType name="bdl_dcmnt_rqst_sbjct_rcrd_data_type">

        <xs:sequence>
            <!-- List of Fields to be marked as null -->
            <xs:element name="nullify_fields" type="nullify_fields_type" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>list of fields to be nullified</xs:documentation>
                </xs:annotation>
            </xs:element>

            <!-- START Business Key elements -->
            <xs:element name="dcmnt_rqst_sbjct_rcrd_id" type="xs:long" minOccurs="0" />

            <xs:element name="cnsmr_accnt_idntfr_agncy_id" type="xs:long" minOccurs="0" />

            <xs:element name="cnsmr_accnt_idntfr_lgcy_txt" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <xs:element name="crdtr_shrt_nm" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="8" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <xs:element name="cnsmr_accnt_crdtr_rfrnc_id_txt" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="40" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <xs:element name="cnsmr_accnt_crdtr_rfrnc_corltn_id_txt" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="40" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <!-- END Business Key elements -->

            <xs:element name="agncy_dfnd_tbl_nm" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="128" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <xs:element name="dcmnt_rqst_in_elgblty_rsn_txt" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="256" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <xs:element name="dcmnt_rqst_cnsmr_accnt_addtnl_intrst_amnt" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="22" />
                        <xs:fractionDigits value="6" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <xs:element name="dcmnt_rqst_cnsmr_accnt_effctv_crrnt_bal_amnt" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="22" />
                        <xs:fractionDigits value="6" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <xs:element name="dcmnt_rqst_cnsmr_accnt_effctv_mk_whl_chrg_amnt" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="22" />
                        <xs:fractionDigits value="6" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <xs:element name="dcmnt_rqst_cnsmr_accnt_effctv_cllctn_bal_amnt" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="22" />
                        <xs:fractionDigits value="6" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

        </xs:sequence>
        <!-- SEQUENCE NUMBER -->
        <xs:attribute name="seq_no" type="xs:long">
            <xs:annotation>
                <xs:documentation>sequence number</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <!-- ITEM TYPE MAPS TO Ref_entty_assctn_cd.entty_assctn_val_txt -->
        <xs:attribute name="type" type="xs:string" fixed="DOCUMENT_REQUEST_SUBJECT_RECORD">
            <xs:annotation>
                <xs:documentation>entity type</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <!-- The biz_ky_id used to tie parent child entities -->
        <xs:attribute name="prnt_biz_ky_id" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>the biz_ky_id used to tie parent-child AND/OR related entities</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
</xs:schema>