xFACts-Documentation/WorkingFiles/bdl_clltrl_insrnc.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.fico.com/xml/debtmanager/data/v1_0"
           targetNamespace="http://www.fico.com/xml/debtmanager/data/v1_0"
           elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xs:include schemaLocation="../../../dm_import_export_common.xsd"/>

    <xs:include schemaLocation="../../../dm_import_export_common.xsd"/>

    <xs:complexType name="bdl_clltrl_insrnc_data_type">
        <xs:sequence>
            <!-- List of Fields to be marked as null -->
            <xs:element name="nullify_fields" type="nullify_fields_type" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>list of fields to be nullified</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="refudefcol_ins_plcy_note" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="512"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="refudefcol_id" type="xs:long" minOccurs="1"/>
            <xs:element name="refudefcol_ins_plc_typ_is_actv" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="refudefcol_ins_cvr_end_dt" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="refudefcol_ins_insr_wbste_txt" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="128"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="refudefclininr_st_txt" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="refudefcol_ins_insr_phn_1_ext" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="refudefcol_ins_insr_nm" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="128"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="refudefcol_ins_plcy_bnfcry_nm" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="128"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="refudefclininr_addrss_ln_3_txt" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="128"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="refudefcol_ins_insr_phn_2_ext" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="refudefcol_ins_insr_phn_1" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="refudefcol_ins_insr_phn_2" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="refudefcol_ins_plcy_typ" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="256"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="refudefclininr_city_txt" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="64"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="refudefcol_ins_insr_email" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="64"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="refudefclininr_cnty_txt" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="128"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="refudefclininr_addrss_ln_2_txt" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="128"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="refudefcol_insplc_typ_inact_dt" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="refudefcol_ins_lst_prm_pd_dt" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="refudefcol_insprm_typ_inact_dt"  type="xs:dateTime" minOccurs="0"/>
            <xs:element name="refudefcol_ins_cvr_amnt" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="16"/>
                        <xs:fractionDigits value="6"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="refudefcol_ins_plcy_typ_dscptn" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="512"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="refudefcol_ins_prm_fqcy_typ" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="256"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="refudefclininr_addrss_ln_1_txt" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="128"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="refudefcol_ins_cntry_cd" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="256"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="refudefclininr_cntry_txt" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="128"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="refudefcol_ins_plcy_nmbr_txt" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="128"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="refudefcol_ins_insr_id" type="xs:long" minOccurs="0"/>
            <xs:element name="refudefcol_ins_prm_amnt" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="16"/>
                        <xs:fractionDigits value="6"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="refudefcol_ins_prm_typ_is_actv" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="refudefcol_ins_prm_typ_dscptn" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="512"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="refudefcol_ins_cvr_strt_dt" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="refudefcol_ins_nxt_prm_du_dt" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="refudefclininr_pstl_cd" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="32"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>

        <!-- SEQUENCE NUMBER -->
        <xs:attribute name="seq_no" type="xs:long">
            <xs:annotation>
                <xs:documentation>sequence number</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <!-- ITEM TYPE MAPS TO Ref_entty_assctn_cd.entty_assctn_val_txt -->
        <xs:attribute name="type" type="xs:string" fixed="REFUDEFCOL_INSURANCE">
            <xs:annotation>
                <xs:documentation>entity type</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <!-- The biz_ky_id used to tie parent child entities -->
        <xs:attribute name="prnt_biz_ky_id" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>the biz_ky_id used to tie parent-child AND/OR related entities</xs:documentation>
            </xs:annotation>
        </xs:attribute>

    </xs:complexType>

</xs:schema>