xFACts-Documentation/WorkingFiles/bdl_cnsmr_accnt.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.fico.com/xml/debtmanager/data/v1_0" targetNamespace="http://www.fico.com/xml/debtmanager/data/v1_0"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xs:include schemaLocation="../../../dm_import_export_common.xsd" />


	<xs:complexType name="bdl_cnsmr_accnt_data_type">
		<xs:sequence>
			<!-- List of Fields to be marked as null -->
			<xs:element name="nullify_fields" type="nullify_fields_type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>list of fields to be nullified</xs:documentation>
				</xs:annotation>
			</xs:element>

			<!-- START Business Key elements -->
			<xs:element name="cnsmr_accnt_id" type="xs:long" minOccurs="0" />

			<xs:element name="cnsmr_accnt_idntfr_agncy_id" type="xs:long" minOccurs="0" />

			<xs:element name="cnsmr_accnt_idntfr_lgcy_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="crdtr_shrt_nm" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="cnsmr_accnt_crdtr_rfrnc_id_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="cnsmr_accnt_crdtr_rfrnc_corltn_id_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- END Business Key elements -->

			<xs:element name="fee_schdl_shrt_nm" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cnsmr_accnt_chrg_off_dt" type="xs:dateTime" minOccurs="0" />
			<xs:element name="cnsmr_accnt_crdt_grntd_dt" type="xs:dateTime" minOccurs="0" />
			<xs:element name="cnsmr_accnt_crdtr_lst_srvc_dt" type="xs:dateTime" minOccurs="0" />
			<xs:element name="cnsmr_accnt_dscrptn_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cnsmr_accnt_orgnl_nominal_bal" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="11" />
						<xs:fractionDigits value="3" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cnsmr_accnt_plcmnt_date" type="xs:dateTime" minOccurs="0" />
			<xs:element name="cnsmr_accnt_rlsd_dt" type="xs:dateTime" minOccurs="0" />
			<xs:element name="cnsmr_accnt_rtrn_dt" type="xs:dateTime" minOccurs="0" />
			<xs:element name="cb_rprtng_strt_dt" type="xs:dateTime" minOccurs="0" />
			<xs:element name="cnsmr_accnt_rprtng_max_sprss_dt" type="xs:dateTime" minOccurs="0" />
			<xs:element name="cb_rpt_accnt_typ_val_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cb_rpt_accnt_stts_val_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cb_rpt_accnt_prtfl_val_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cb_rpt_accnt_spcl_cmmnt_val_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cnsmr_accnt_dlqncy_dt" type="xs:dateTime" minOccurs="0" />
			<xs:element name="cnsmr_orgnl_crdtr_nme_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="128" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cb_frst_rprtd_dt" type="xs:dateTime" minOccurs="0" />
			<xs:element name="cb_lst_rprtd_dt" type="xs:dateTime" minOccurs="0" />
			<xs:element name="cb_rprtng_incld_flg" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cnsmr_accnt_stt_of_lmttns_dt" type="xs:dateTime" minOccurs="0" />

		</xs:sequence>
		<!-- SEQUENCE NUMBER -->
		<xs:attribute name="seq_no" type="xs:long">
			<xs:annotation>
				<xs:documentation>sequence number</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<!-- ITEM TYPE MAPS TO Ref_entty_assctn_cd.entty_assctn_val_txt -->
		<xs:attribute name="type" type="xs:string" fixed="CONSUMERACCOUNT">
			<xs:annotation>
				<xs:documentation>entity type</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>