xFACts-Documentation/WorkingFiles/bdl_rltd_prsn.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.fico.com/xml/debtmanager/data/v1_0" targetNamespace="http://www.fico.com/xml/debtmanager/data/v1_0"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xs:include schemaLocation="../../dm_import_export_common.xsd" />


	<xs:complexType name="bdl_rltd_prsn_data_type">
		<xs:sequence>
			<!-- List of Fields to be marked as null -->
			<xs:element name="nullify_fields" type="nullify_fields_type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>list of fields to be nullified</xs:documentation>
				</xs:annotation>
			</xs:element>

			<!-- START Business Key elements -->
			<xs:element name="rltd_prsn_id" type="xs:long" minOccurs="0" />

			<xs:element name="cnsmr_idntfr_lgcy_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="cnsmr_idntfr_agncy_id" type="xs:long" minOccurs="0" />

			<xs:element name="cnsmr_idntfr_ssn_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="cnsmr_nm_frst_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="cnsmr_nm_lst_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="128" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- END Business Key elements -->

			<xs:element name="rltd_prsn_addrss_city_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rltd_prsn_addrss_cnty_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="128" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rltd_prsn_addrss_cntry_val_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rltd_prsn_addrss_ln_1_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="128" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rltd_prsn_addrss_ln_2_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="128" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rltd_prsn_addrss_ln_3_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="128" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rltd_prsn_addrss_st_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rltd_prsn_addrss_pstl_cd_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rltd_prsn_assctn_end_dt" type="xs:dateTime" minOccurs="0" />
			<xs:element name="rltd_prsn_lst_sccss_cntct_dt" type="xs:dateTime" minOccurs="0" />
			<xs:element name="rltd_prsn_assctn_strt_dt" type="xs:dateTime" minOccurs="0" />
			<xs:element name="rltd_prsn_brth_dt" type="xs:dateTime" minOccurs="0" />
			<xs:element name="rltd_prsn_clms_nmbr_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rltd_prsn_cmmnt_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rltd_prsn_email_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="128" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rltd_prsn_gndr_val_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rltd_prsn_idntfr_ssn_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rltd_prsn_lang_spkn_val_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rltd_prsn_nm_frst_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rltd_prsn_nm_full_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="128" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rltd_prsn_nm_lst_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rltd_prsn_nm_mddl_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rltd_prsn_nm_prfx_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rltd_prsn_nm_sffx_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rltd_prsn_phn_nmbr_cell_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rltd_prsn_phn_nmbr_home_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rltd_prsn_phn_nmbr_wrk_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rltd_prsn_rltnshp_val_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rltd_prsn_emplyr_nm" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rltd_prsn_wrk_phn_nmbr_tchnlgy_typ_val_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rltd_prsn_home_phn_nmbr_tchnlgy_typ_val_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

		</xs:sequence>
		<!-- SEQUENCE NUMBER -->
		<xs:attribute name="seq_no" type="xs:long">
			<xs:annotation>
				<xs:documentation>sequence number</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<!-- ITEM TYPE MAPS TO Ref_entty_assctn_cd.entty_assctn_val_txt -->
		<xs:attribute name="type" type="xs:string" fixed="RELATED_PERSON">
			<xs:annotation>
				<xs:documentation>entity type</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>