xFACts-Documentation/WorkingFiles/bdl_udp_field_type.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2006-2018 Fair Isaac Corporation.  All rights reserved. -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.fico.com/xml/debtmanager/data/v1_0" targetNamespace="http://www.fico.com/xml/debtmanager/data/v1_0"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xs:complexType name="udp_fields_type">
        <xs:sequence>
            <xs:element name="udp_field" type="udp_field_type" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>One user defined page</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

	<xs:complexType name="udp_field_type" abstract="true">
		<xs:attribute name="name" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The name of the field</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<!-- Integer (Whole Number) -->
	<xs:complexType name="integer_type">
		<xs:complexContent>
			<xs:extension base="udp_field_type">
				<xs:sequence>
					<xs:element name="value" type="xs:int" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The integer value</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- Date (mm/dd/yyyy) -->
	<xs:complexType name="date_type">
		<xs:complexContent>
			<xs:extension base="udp_field_type">
				<xs:sequence>
					<xs:element name="value" type="xs:date" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The date value</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- Text -->
	<xs:complexType name="text_type">
		<xs:complexContent>
			<xs:extension base="udp_field_type">
				<xs:sequence>
					<xs:element name="value" type="text_valueType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The text value</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>

			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- Boolean -->
	<xs:complexType name="boolean_type">
		<xs:complexContent>
			<xs:extension base="udp_field_type">
				<xs:sequence>
					<xs:element name="value" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The boolean value</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- Decimal Number -->
	<xs:complexType name="decimal_type">
		<xs:complexContent>
			<xs:extension base="udp_field_type">
				<xs:sequence>
					<xs:element name="value" type="xs:decimal" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The decimal value</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- Big Integer (Large number) -->
	<xs:complexType name="big_integer_type">
		<xs:complexContent>
			<xs:extension base="udp_field_type">
				<xs:sequence>
					<xs:element name="value" type="xs:long" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The long value</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>

			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="text_valueType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="999999" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
