xFACts-Documentation/WorkingFiles/bdl_ca_effctv_intrst_rates.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.fico.com/xml/debtmanager/data/v1_0" targetNamespace="http://www.fico.com/xml/debtmanager/data/v1_0"
           elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xs:include schemaLocation="../../../dm_import_export_common.xsd" />

    <xs:include schemaLocation="./bdl_ca_effctv_intrst_rt.xsd" />

    <xs:complexType name="bdl_ca_effctv_intrst_rts_data_type">
        <!-- START Business Key elements -->
        <xs:sequence>
        <xs:element name="cnsmr_accnt_idntfr_agncy_id" type="xs:long" minOccurs="0" />

        <xs:element name="cnsmr_accnt_idntfr_lgcy_txt" minOccurs="0">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="20" />
                </xs:restriction>
            </xs:simpleType>
        </xs:element>

        <xs:element name="crdtr_shrt_nm" minOccurs="0">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="8" />
                </xs:restriction>
            </xs:simpleType>
        </xs:element>

        <xs:element name="cnsmr_accnt_crdtr_rfrnc_id_txt" minOccurs="0">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="40" />
                </xs:restriction>
            </xs:simpleType>
        </xs:element>

        <xs:element name="cnsmr_accnt_crdtr_rfrnc_corltn_id_txt" minOccurs="0">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="40" />
                </xs:restriction>
            </xs:simpleType>
        </xs:element>

        <!-- END Business Key elements -->

            <xs:element name="cnsmr_accnt_effctv_intrst_rt" type="bdl_ca_effctv_intrst_rt_data_type" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>One user defined page</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>




        <xs:attribute name="seq_no" type="xs:long">
            <xs:annotation>
                <xs:documentation>sequence number</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <!-- ITEM TYPE MAPS TO Ref_entty_assctn_cd.entty_assctn_val_txt -->
        <xs:attribute name="type" type="xs:string" use="required" fixed="ACCOUNT_EFFECTIVE_INTEREST_RATE">
            <xs:annotation>
                <xs:documentation>entity type</xs:documentation>
            </xs:annotation>
        </xs:attribute>

    </xs:complexType>
    </xs:schema>