xFACts-Documentation/WorkingFiles/bdl_import_export.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="http://www.fico.com/xml/debtmanager/data/v1_0"
        targetNamespace="http://www.fico.com/xml/debtmanager/data/v1_0"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xs:include schemaLocation="consumer/bdl_cnsmr.xsd"/>
    <xs:include schemaLocation="consumer/bdl_cnsmr_phn.xsd"/>
    <xs:include schemaLocation="consumer/bdl_cnsmr.xsd"/>
	<xs:include schemaLocation="consumer/bdl_cnsmr_phn.xsd"/>
	<xs:include schemaLocation="consumer/bdl_asst.xsd"/>
	<xs:include schemaLocation="consumer/bdl_attrny.xsd"/>
	<xs:include schemaLocation="consumer/account/bdl_cnsmr_accnt.xsd"/>
	<xs:include schemaLocation="consumer/account/bdl_cnsmr_accnt_cmmnt.xsd"/>
	<xs:include schemaLocation="consumer/account/bdl_cnsmr_accnt_ownrs.xsd"/>
	<xs:include schemaLocation="consumer/account/bdl_cnsmr_accnt_tag.xsd"/>
	<xs:include schemaLocation="consumer/bdl_cnsmr_addrss.xsd"/>
	<xs:include schemaLocation="consumer/bdl_cnsmr_addrss_hst.xsd"/>
	<xs:include schemaLocation="consumer/bdl_cnsmr_cmmnt.xsd"/>
	<xs:include schemaLocation="consumer/bdl_cnsmr_crdt.xsd"/>
	<xs:include schemaLocation="consumer/bdl_cnsmr_fnncl.xsd"/>
	<xs:include schemaLocation="consumer/bdl_cnsmr_hst.xsd"/>
	<xs:include schemaLocation="consumer/bdl_cnsmr_phn_hst.xsd"/>
	<xs:include schemaLocation="consumer/bdl_cnsmr_tag.xsd"/>
	<xs:include schemaLocation="consumer/bdl_decsd.xsd"/>
	<xs:include schemaLocation="consumer/bdl_emplyr.xsd"/>
	<xs:include schemaLocation="consumer/bdl_lnkd_cnsmr.xsd"/>
	<xs:include schemaLocation="consumer/bdl_rltd_prsn.xsd"/>
	<xs:include schemaLocation="consumer/bdl_bnkrptcy.xsd"/>
	<xs:include schemaLocation="consumer/bdl_bnkrptcy_addtnl_info.xsd"/>
	<xs:include schemaLocation="consumer/bdl_bnkrptcy_pttnr.xsd"/>
	<xs:include schemaLocation="consumer/bdl_bnkrptcy_trustee.xsd"/>
	<xs:include schemaLocation="consumer/bdl_jdgmnt.xsd"/>
	<xs:include schemaLocation="consumer/bdl_jdgmnt_addtnl_info.xsd"/>
	<xs:include schemaLocation="consumer/bdl_cnsmr_udp.xsd"/>
	<xs:include schemaLocation="consumer/account/bdl_cnsmr_accnt_udp.xsd"/>
	<xs:include schemaLocation="consumer/account/bdl_clltrl.xsd"/>
    <xs:include schemaLocation="consumer/bdl_cnsmr_hld.xsd"/>
    <xs:include schemaLocation="consumer/bdl_cnsmr_unhld.xsd"/>
    <xs:include schemaLocation="consumer/account/bdl_cnsmr_accnt_hld.xsd"/>
    <xs:include schemaLocation="consumer/account/bdl_cnsmr_accnt_unhld.xsd"/>
	<xs:include schemaLocation="consumer/account/bdl_dcmnt_rqst.xsd"/>
	<xs:include schemaLocation="consumer/account/bdl_dcmnt_rqst_sbjct_rcrd.xsd"/>

	<xs:include schemaLocation="payment/bdl_cnsmr_pymnt_instrmnt.xsd"/>
	<xs:include schemaLocation="payment/bdl_schdld_pymnt_smmry.xsd"/>
	<xs:include schemaLocation="payment/bdl_schdld_pymnt_instnc.xsd"/>
	<xs:include schemaLocation="payment/bdl_schdld_pymnt_cnsmr_accnt_assctn.xsd"/>

	<xs:include schemaLocation="payment/settlement/bdl_ca_sttlmnt.xsd"/>
	<xs:include schemaLocation="payment/settlement/bdl_ca_sttlmnt_grp.xsd"/>
	<xs:include schemaLocation="payment/settlement/bdl_ca_bckt_sttlmnt.xsd"/>



	<xs:include schemaLocation="consumer/account/bdl_cnsmr_accnt_ar_log.xsd"/>
	<xs:include schemaLocation="consumer/account/bdl_cnsmr_accnt_frwrd_rcll_dtl.xsd"/>
	<xs:include schemaLocation="consumer/account/bdl_crdtr_trnsctn.xsd"/>
    <xs:include schemaLocation="consumer/case/bdl_ca_case.xsd"/>
    <xs:include schemaLocation="consumer/case/bdl_ca_case_hst.xsd"/>
    <xs:include schemaLocation="consumer/case/bdl_ca_case_tag.xsd"/>
    <xs:include schemaLocation="consumer/case/bdl_ca_case_tag_hst.xsd"/>
    <xs:include schemaLocation="consumer/case/bdl_ca_case_udp.xsd"/>
	<xs:include schemaLocation="consumer/account/bdl_ca_effctv_intrst_rt.xsd"/>
	<xs:include schemaLocation="consumer/account/bdl_ca_effctv_intrst_rates.xsd"/>
	
    <xs:complexType name="operational_transaction_data_type">
        <xs:choice>
        
            <xs:element name="consumer_operational_transaction_data"
                        type="consumer_operational_transaction_data_type" minOccurs="0" maxOccurs="1"/>
                        
            <xs:element name="account_operational_transaction_data"
                        type="account_operational_transaction_data_type" minOccurs="0" maxOccurs="1"/>
        
            <xs:element name="payment_schedule_operational_transaction_data"
                        type="payment_schedule_operational_transaction_data_type" minOccurs="0" maxOccurs="1"/>
			<!-- The below consumer_account_settlement_operational_transaction_data has been deprecated.
				Please use only payment_schedule_operational_transaction_data to import the settlement schedule entities too-->
			<xs:element name="consumer_account_settlement_operational_transaction_data"
						type="consumer_account_settlement_operational_transaction_data_type" minOccurs="0" maxOccurs="1"/>

                        
            <xs:element name="cnsmr_accnt_ar_log_operational_transaction_data"
                        type="cnsmr_accnt_ar_log_operational_transaction_data_type" minOccurs="0" maxOccurs="1"/>
                        
            <xs:element name="cnsmr_accnt_frwrd_rcll_dtl_operational_transaction_data"
                        type="cnsmr_accnt_frwrd_rcll_dtl_operational_transaction_data_type" minOccurs="0" maxOccurs="1"/>
                        
            <xs:element name="crdtr_trnsctn_operational_transaction_data"
                        type="crdtr_trnsctn_operational_transaction_data_type" minOccurs="0" maxOccurs="1"/>

            <xs:element name="case_operational_transaction_data"
                        type="case_operational_transaction_data_type" minOccurs="0" maxOccurs="1"/>
                        
        </xs:choice>
    </xs:complexType>
  
    <xs:complexType name="consumer_operational_transaction_data_type">
        <xs:sequence>
            <xs:element name="cnsmr" type="bdl_cnsmr_data_type" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="cnsmr_phn" type="bdl_cnsmr_phn_data_type" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="asst" type="bdl_asst_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="attrny" type="bdl_attrny_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="cnsmr_accnt" type="bdl_cnsmr_accnt_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="cnsmr_accnt_cmmnt" type="bdl_cnsmr_accnt_cmmnt_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="cnsmr_accnt_ownrs" type="bdl_cnsmr_accnt_ownrs_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="cnsmr_accnt_tag" type="bdl_cnsmr_accnt_tag_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="cnsmr_addrss" type="bdl_cnsmr_addrss_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="cnsmr_addrss_hst" type="bdl_cnsmr_addrss_hst_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="cnsmr_cmmnt" type="bdl_cnsmr_cmmnt_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="cnsmr_crdt" type="bdl_cnsmr_crdt_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="cnsmr_fnncl" type="bdl_cnsmr_fnncl_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="cnsmr_hst" type="bdl_cnsmr_hst_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="cnsmr_phn_hst" type="bdl_cnsmr_phn_hst_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="cnsmr_tag" type="bdl_cnsmr_tag_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="decsd" type="bdl_decsd_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="emplyr" type="bdl_emplyr_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="lnkd_cnsmr" type="bdl_lnkd_cnsmr_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="rltd_prsn" type="bdl_rltd_prsn_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="bnkrptcy" type="bdl_bnkrptcy_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="bnkrptcy_addtnl_info" type="bdl_bnkrptcy_addtnl_info_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="bnkrptcy_pttnr" type="bdl_bnkrptcy_pttnr_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="bnkrptcy_trustee" type="bdl_bnkrptcy_trustee_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="jdgmnt" type="bdl_jdgmnt_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="jdgmnt_addtnl_info" type="bdl_jdgmnt_addtnl_info_data_type" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="ca_case" type="bdl_ca_case_data_type" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="ca_case_hst" type="bdl_ca_case_hst_data_type" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="ca_case_tag" type="bdl_ca_case_tag_data_type" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="ca_case_tag_hst" type="bdl_ca_case_tag_hst_data_type" minOccurs="0" maxOccurs="unbounded"/>

			<xs:element name="cnsmr_accnt_clltrl" type="bdl_clltrl_data_type" minOccurs="0" maxOccurs="unbounded" />

			<xs:element name="cnsmr_accnt_effctv_intrst_rates" type="bdl_ca_effctv_intrst_rts_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="cnsmr_udp" type="bdl_cnsmr_udp_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="cnsmr_accnt_udp" type="bdl_cnsmr_accnt_udp_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="ca_case_udp" type="bdl_ca_case_udp_data_type" minOccurs="0" maxOccurs="unbounded"/>

			<xs:element name="cnsmr_accnt_hld" type="bdl_cnsmr_accnt_hld_data_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="cnsmr_accnt_unhld" type="bdl_cnsmr_accnt_unhld_data_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="cnsmr_hld" type="bdl_cnsmr_hld_data_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="cnsmr_unhld" type="bdl_cnsmr_unhld_data_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="dcmnt_rqst" type="bdl_dcmnt_rqst_data_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="dcmnt_rqst_sbjct_rcrd" type="bdl_dcmnt_rqst_sbjct_rcrd_data_type" minOccurs="0" maxOccurs="unbounded"/>

		</xs:sequence>
    </xs:complexType>

    <xs:complexType name="account_operational_transaction_data_type">
        <xs:sequence>
            <xs:element name="cnsmr" type="bdl_cnsmr_data_type" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="cnsmr_phn" type="bdl_cnsmr_phn_data_type" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="asst" type="bdl_asst_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="attrny" type="bdl_attrny_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="cnsmr_accnt" type="bdl_cnsmr_accnt_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="cnsmr_accnt_cmmnt" type="bdl_cnsmr_accnt_cmmnt_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="cnsmr_accnt_ownrs" type="bdl_cnsmr_accnt_ownrs_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="cnsmr_accnt_tag" type="bdl_cnsmr_accnt_tag_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="cnsmr_addrss" type="bdl_cnsmr_addrss_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="cnsmr_addrss_hst" type="bdl_cnsmr_addrss_hst_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="cnsmr_cmmnt" type="bdl_cnsmr_cmmnt_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="cnsmr_crdt" type="bdl_cnsmr_crdt_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="cnsmr_fnncl" type="bdl_cnsmr_fnncl_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="cnsmr_hst" type="bdl_cnsmr_hst_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="cnsmr_phn_hst" type="bdl_cnsmr_phn_hst_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="cnsmr_tag" type="bdl_cnsmr_tag_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="decsd" type="bdl_decsd_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="emplyr" type="bdl_emplyr_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="lnkd_cnsmr" type="bdl_lnkd_cnsmr_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="rltd_prsn" type="bdl_rltd_prsn_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="bnkrptcy" type="bdl_bnkrptcy_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="bnkrptcy_addtnl_info" type="bdl_bnkrptcy_addtnl_info_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="bnkrptcy_pttnr" type="bdl_bnkrptcy_pttnr_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="bnkrptcy_trustee" type="bdl_bnkrptcy_trustee_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="jdgmnt" type="bdl_jdgmnt_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="jdgmnt_addtnl_info" type="bdl_jdgmnt_addtnl_info_data_type" minOccurs="0" maxOccurs="unbounded" />

			<xs:element name="cnsmr_accnt_clltrl" type="bdl_clltrl_data_type" minOccurs="0" maxOccurs="unbounded" />

			<xs:element name="cnsmr_accnt_effctv_intrst_rates" type="bdl_ca_effctv_intrst_rts_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="cnsmr_udp" type="bdl_cnsmr_udp_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="cnsmr_accnt_udp" type="bdl_cnsmr_accnt_udp_data_type" minOccurs="0" maxOccurs="unbounded" />

			<xs:element name="cnsmr_accnt_hld" type="bdl_cnsmr_accnt_hld_data_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="cnsmr_accnt_unhld" type="bdl_cnsmr_accnt_unhld_data_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="cnsmr_hld" type="bdl_cnsmr_hld_data_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="cnsmr_unhld" type="bdl_cnsmr_unhld_data_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="dcmnt_rqst" type="bdl_dcmnt_rqst_data_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="dcmnt_rqst_sbjct_rcrd" type="bdl_dcmnt_rqst_sbjct_rcrd_data_type" minOccurs="0" maxOccurs="unbounded"/>

		</xs:sequence>
	</xs:complexType>

 	<xs:complexType name="payment_schedule_operational_transaction_data_type">
        <xs:sequence>
    		<xs:element name="schdld_pymnt_smmry" type="bdl_schdld_pymnt_smmry_data_type" minOccurs="0" maxOccurs="unbounded" />
    		<xs:element name="cnsmr_pymnt_instrmnt" type="bdl_cnsmr_pymnt_instrmnt_data_type" minOccurs="0" maxOccurs="unbounded" />
    		<xs:element name="schdld_pymnt_instnc" type="bdl_schdld_pymnt_instnc_data_type" minOccurs="0" maxOccurs="unbounded" />  
    		<xs:element name="schdld_pymnt_cnsmr_accnt_assctn" type="bdl_schdld_pymnt_cnsmr_accnt_assctn_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="cnsmr_accnt_sttlmnt_grp" type="bdl_ca_sttlmnt_grp_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="cnsmr_accnt_sttlmnt" type="bdl_ca_sttlmnt_data_type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="cnsmr_accnt_bckt_sttlmnt" type="bdl_ca_bckt_sttlmnt_data_type" minOccurs="0" maxOccurs="unbounded" />
     	</xs:sequence>
    </xs:complexType>
	<!-- The below consumer_account_settlement_operational_transaction_data has been deprecated.
		Please use only payment_schedule_operational_transaction_data to import the settlement schedule entities too-->
	<xs:complexType name="consumer_account_settlement_operational_transaction_data_type">
		<xs:complexContent>
			<xs:extension base="payment_schedule_operational_transaction_data_type">
				<xs:sequence>
					<xs:element name="consumer_account_settlement_group" type="bdl_ca_sttlmnt_grp_data_type" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="consumer_account_settlement" type="bdl_ca_sttlmnt_data_type" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="consumer_account_bucket_settlement" type="bdl_ca_bckt_sttlmnt_data_type" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

    <xs:complexType name="cnsmr_accnt_ar_log_operational_transaction_data_type">
        <xs:sequence>
    		<xs:element name="cnsmr_accnt_ar_log" type="bdl_cnsmr_accnt_ar_log_data_type" minOccurs="0" maxOccurs="unbounded" />
       	</xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="cnsmr_accnt_frwrd_rcll_dtl_operational_transaction_data_type">
        <xs:sequence>
    		<xs:element name="cnsmr_accnt_frwrd_rcll_dtl" type="bdl_cnsmr_accnt_frwrd_rcll_dtl_data_type" minOccurs="0" maxOccurs="unbounded" />
       	</xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="crdtr_trnsctn_operational_transaction_data_type">
        <xs:sequence>
    		<xs:element name="crdtr_trnsctn" type="bdl_crdtr_trnsctn_data_type" minOccurs="0" maxOccurs="unbounded" />
       	</xs:sequence>
    </xs:complexType>

    <xs:complexType name="case_operational_transaction_data_type">
        <xs:sequence>
            <xs:element name="ca_case" type="bdl_ca_case_data_type" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="ca_case_hst" type="bdl_ca_case_hst_data_type" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="ca_case_tag" type="bdl_ca_case_tag_data_type" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="ca_case_tag_hst" type="bdl_ca_case_tag_hst_data_type" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="ca_case_udp" type="bdl_ca_case_udp_data_type" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    
    

</xs:schema>