xFACts-Documentation/WorkingFiles/bdl_clltrl_fnncl.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.fico.com/xml/debtmanager/data/v1_0"
           targetNamespace="http://www.fico.com/xml/debtmanager/data/v1_0"
           elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xs:include schemaLocation="../../../dm_import_export_common.xsd"/>


    <xs:complexType name="bdl_clltrl_fnncl_data_type">
        <xs:sequence>
            <!-- List of Fields to be marked as null -->
            <xs:element name="nullify_fields" type="nullify_fields_type" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>list of fields to be nullified</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="refudefcol_fncl_inst_nm" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="128" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="refudefcol_fncl_sec_typ_txt" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="64" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="refudefcol_fncl_sec_tkr_id_txt" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="64" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="refudefcol_fncl_mtrty_dt" type="xs:dateTime" minOccurs="0" />
            <xs:element name="refudefcol_id" type="xs:long" minOccurs="1"/>
            <xs:element name="refudefcol_fncl_accnt_typ_txt" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="64" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="refudefcol_fncl_is_our_accnt" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="refudefcol_fncl_opnd_dt" type="xs:dateTime" minOccurs="0" />
            <xs:element name="refudefcol_fncl_accnt_nmbr_txt" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="64" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="refudefcol_fncl_accnt_hldr_nm" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="64" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

        </xs:sequence>

        <!-- SEQUENCE NUMBER -->
        <xs:attribute name="seq_no" type="xs:long">
            <xs:annotation>
                <xs:documentation>sequence number</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <!-- ITEM TYPE MAPS TO Ref_entty_assctn_cd.entty_assctn_val_txt -->
        <xs:attribute name="type" type="xs:string" fixed="REFUDEFCOL_FINANCIAL">
            <xs:annotation>
                <xs:documentation>entity type</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <!-- The biz_ky_id used to tie parent child entities -->
        <xs:attribute name="prnt_biz_ky_id" type="xs:string" use="required" >
            <xs:annotation>
                <xs:documentation>the biz_ky_id used to tie parent-child AND/OR related entities</xs:documentation>
            </xs:annotation>
        </xs:attribute>


    </xs:complexType>
</xs:schema>