xFACts-Documentation/WorkingFiles/bdl_schdld_pymnt_instnc.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.fico.com/xml/debtmanager/data/v1_0" targetNamespace="http://www.fico.com/xml/debtmanager/data/v1_0"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xs:include schemaLocation="../../dm_import_export_common.xsd" />

	<xs:complexType name="bdl_schdld_pymnt_instnc_data_type">
		<xs:sequence>

			<!-- List of Fields to be marked as null -->
			<xs:element name="nullify_fields" type="nullify_fields_type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>list of fields to be nullified</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="schdld_pymnt_instnc_id" type="xs:long" minOccurs="0" />

			<xs:element name="schdld_pymnt_smmry_idntfr" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:annotation>
						<xs:documentation>the unique identifier field used to tie related entities</xs:documentation>
					</xs:annotation>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cnsmr_pymnt_instrmnt_idntfr" minOccurs="0">
				<xs:simpleType>
					<xs:annotation>
						<xs:documentation>the unique identifier field used to tie related entities</xs:documentation>
					</xs:annotation>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="schdld_pymnt_instnc_amnt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="11" />
						<xs:fractionDigits value="3" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="schdld_pymnt_instnc_dttm" type="xs:dateTime" minOccurs="0" />
			<xs:element name="schdld_pymnt_instnc_is_rglr_flg" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="schdld_pymnt_instnc_stts_val_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="schdld_pymnt_instnc_unpaid_bal_amnt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="11" />
						<xs:fractionDigits value="3" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="schdld_pymnt_instnc_prcssng_fee_amnt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="11" />
						<xs:fractionDigits value="3" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="schdld_pymnt_instnc_prcssng_fee_typ_nm" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="pymnt_memo_nm" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="schdld_pymnt_instnc_snd_notice_flg" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="schdld_pymnt_instnc_estmtd_prcssng_fee_amnt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="16" />
						<xs:fractionDigits value="6" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="schdld_pymnt_instnc_estmtd_prcssng_fee_typ_nm" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="schdld_pymnt_instnc_agnt_ovrrd_fee_amnt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="16" />
						<xs:fractionDigits value="6" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="schdld_pymnt_instnc_agnt_ovrrd_fee_typ_nm" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="schdld_pymnt_instnc_pymnt_amnt_trnctd_flg" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="schdld_pymnt_instnc_orig_pymnt_memo_nm" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="schdld_pymnt_instnc_orig_pymnt_instrmnt_typ_val_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="spi_stts_updt_dttm" type="xs:dateTime" minOccurs="0" />
		</xs:sequence>

		<!-- SEQUENCE NUMBER -->
		<xs:attribute name="seq_no" type="xs:long">
			<xs:annotation>
				<xs:documentation>sequence number</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<!-- ITEM TYPE MAPS TO Ref_entty_assctn_cd.entty_assctn_val_txt -->
		<xs:attribute name="type" type="xs:string" fixed="SCHEDULED_PAYMENT">
			<xs:annotation>
				<xs:documentation>entity type</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>