xFACts-Documentation/WorkingFiles/bdl_bnkrptcy_addtnl_info.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.fico.com/xml/debtmanager/data/v1_0" targetNamespace="http://www.fico.com/xml/debtmanager/data/v1_0"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xs:include schemaLocation="../../dm_import_export_common.xsd" />


	<xs:complexType name="bdl_bnkrptcy_addtnl_info_data_type">
		<xs:sequence>
			<!-- List of Fields to be marked as null -->
			<xs:element name="nullify_fields" type="nullify_fields_type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>list of fields to be nullified</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="bnkrptcy_addtnl_info_id" type="xs:long" minOccurs="0" />

			<xs:element name="bnkrptcy_addtnl_info_rltnshp_cd_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="bnkrptcy_addtnl_info_bnkrptcy_cnter_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="bnkrptcy_addtnl_info_court_dstrct_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="bnkrptcy_addtnl_info_court_apprvd_dt_of_reffrmtn_dttm" type="xs:dateTime" minOccurs="0" />

			<xs:element name="bnkrptcy_addtnl_info_court_dnd_dt_of_reffrmtn_dttm" type="xs:dateTime" minOccurs="0" />

			<xs:element name="bnkrptcy_addtnl_info_reffrmtn_total_amnt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="16" />
						<xs:fractionDigits value="6" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="bnkrptcy_addtnl_info_reffrmtn_pymnt_amnt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="16" />
						<xs:fractionDigits value="6" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="bnkrptcy_addtnl_info_reffrmtn_due_dttm" type="xs:dateTime" minOccurs="0" />

			<xs:element name="bnkrptcy_addtnl_info_reffrmtn_sent_dttm" type="xs:dateTime" minOccurs="0" />

			<xs:element name="bnkrptcy_addtnl_info_reffrmtn_filed_dttm" type="xs:dateTime" minOccurs="0" />

			<xs:element name="bnkrptcy_addtnl_info_reffrmtn_attrny_mailed_dt_to_clnt_dttm" type="xs:dateTime" minOccurs="0" />

			<xs:element name="bnkrptcy_addtnl_info_reffrmtn_refsl_rsn_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="470" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="bnkrptcy_addtnl_info_reffrmtn_crdt_rnsttd_total_amnt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="16" />
						<xs:fractionDigits value="6" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="bnkrptcy_addtnl_info_reffrmtn_crdt_rnsttd_sgnd_dttm" type="xs:dateTime" minOccurs="0" />

			<xs:element name="bnkrptcy_addtnl_info_reffrmtn_crdt_rnsttd_frst_pymnt_dttm" type="xs:dateTime" minOccurs="0" />

			<xs:element name="bnkrptcy_addtnl_info_reffrmtn_crdt_rnsttd_intrst_rate" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="7" />
						<xs:fractionDigits value="4" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="bnkrptcy_addtnl_info_reffrmtn_crdt_rnsttd_cmmnts_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="bnkrptcy_addtnl_info_dt_attrny_rcvd_reffrmtn_trnscrpt_dttm" type="xs:dateTime" minOccurs="0" />

			<xs:element name="bnkrptcy_addtnl_info_reffrmtn_apprvl_hrng_dttm" type="xs:dateTime" minOccurs="0" />

			<xs:element name="bnkrptcy_addtnl_info_reffrmtn_apprvl_hrng_time_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="bnkrptcy_addtnl_info_dt_apprvd_reffrmtn_ordr_sent_to_TDM_dttm" type="xs:dateTime" minOccurs="0" />

			<xs:element name="bnkrptcy_addtnl_info_court_vrbl_apprvl_dt_of_reffrmtn_dttm" type="xs:dateTime" minOccurs="0" />

			<xs:element name="bnkrptcy_addtnl_info_reffrmtn_sgnd_dttm" type="xs:dateTime" minOccurs="0" />

			<xs:element name="bnkrptcy_addtnl_info_reffrmtn_sgnd_amnt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="16" />
						<xs:fractionDigits value="6" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="bnkrptcy_addtnl_info_stts_dttm" type="xs:dateTime" minOccurs="0" />

			<xs:element name="bnkrptcy_chptr_val_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="bnkrptcy_addtnl_info_341_mtgn_cmmnts_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="bnkrptcy_addtnl_info_341_mtgn_schdl_dttm" type="xs:dateTime" minOccurs="0" />

			<xs:element name="bnkrptcy_addtnl_info_341_mtgn_rschdld_dttm" type="xs:dateTime" minOccurs="0" />

			<xs:element name="bnkrptcy_addtnl_info_341_mtgn_rschdld_time_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="bnkrptcy_addtnl_info_rdmptn_amnt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="16" />
						<xs:fractionDigits value="6" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="bnkrptcy_addtnl_info_rdmptn_nmbr_of_pymnts" type="xs:int" minOccurs="0" />

			<xs:element name="bnkrptcy_addtnl_info_rdmptn_intl_due_dttm" type="xs:dateTime" minOccurs="0" />

			<xs:element name="bnkrptcy_addtnl_info_rdmptn_intl_amnt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="16" />
						<xs:fractionDigits value="6" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="bnkrptcy_addtnl_info_apprvl_hrng_rschdld_dttm" type="xs:dateTime" minOccurs="0" />

			<xs:element name="bnkrptcy_addtnl_info_apprvl_hrng_rschdld_time_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="bnkrptcy_addtnl_info_othr_cnsmr_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="bnkrptcy_addtnl_info_bnkrptcy_past_due_billng_amnt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="16" />
						<xs:fractionDigits value="6" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="bnkrptcy_addtnl_info_bnkrptcy_billng_intrst_rate" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="7" />
						<xs:fractionDigits value="4" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="bnkrptcy_addtnl_info_bnkrptcy_billng_prcss_dt" type="xs:dateTime" minOccurs="0" />

			<xs:element name="bnkrptcy_addtnl_info_bnkrptcy_billng_Assess_flg" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="bnkrptcy_addtnl_info_bnkrptcy_billng_assessd_dt" type="xs:dateTime" minOccurs="0" />

			<xs:element name="bnkrptcy_addtnl_info_bnkrptcy_billng_assessd_amnt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="16" />
						<xs:fractionDigits value="6" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="bnkrptcy_addtnl_info_cnvrtd_bnkrptcy_old_chptr_typ_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="bnkrptcy_addtnl_info_bnkrptcy_cnvrtd_dttm" type="xs:dateTime" minOccurs="0" />
			<xs:element name="bnkrptcy_addtnl_info_rsn_cnvrtd_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="168" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="bnkrptcy_addtnl_info_cnfrmd_hrng_schdld_dttm" type="xs:dateTime" minOccurs="0" />

			<xs:element name="bnkrptcy_addtnl_info_cnfrmd_hrng_attndd_dttm" type="xs:dateTime" minOccurs="0" />

			<xs:element name="bnkrptcy_addtnl_info_cnfrmd_hrng_outcome_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="bnkrptcy_addtnl_info_cnfrmd_objctn_filed_dttm" type="xs:dateTime" minOccurs="0" />

			<xs:element name="bnkrptcy_addtnl_info_bnkrptcy_cnfrmd_cmmnt_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="490" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="bnkrptcy_addtnl_info_bnkrptcy_rsn_fr_dsmssl_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="460" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="bnkrptcy_addtnl_info_bnkrptcy_file_err_dttm" type="xs:dateTime" minOccurs="0" />

			<xs:element name="bnkrptcy_addtnl_info_prf_of_claim_mailed_amnt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="16" />
						<xs:fractionDigits value="6" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="bnkrptcy_addtnl_info_prf_of_claim_unscr_mailed_amnt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="16" />
						<xs:fractionDigits value="6" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="bnkrptcy_addtnl_info_prf_of_claim_secured_mailed_amnt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="16" />
						<xs:fractionDigits value="6" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="bnkrptcy_addtnl_info_prf_of_claim_rcvd_file_dttm" type="xs:dateTime" minOccurs="0" />

			<xs:element name="bnkrptcy_addtnl_info_prf_of_claim_court_ack_dttm" type="xs:dateTime" minOccurs="0" />

			<xs:element name="bnkrptcy_addtnl_info_prf_of_claim_filed_dttm" type="xs:dateTime" minOccurs="0" />

			<xs:element name="bnkrptcy_addtnl_info_prf_of_claim_amnt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="16" />
						<xs:fractionDigits value="6" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="bnkrptcy_addtnl_info_prf_of_claim_amndd_dttm" type="xs:dateTime" minOccurs="0" />

			<xs:element name="bnkrptcy_addtnl_info_prf_of_claim_amndd_amnt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="16" />
						<xs:fractionDigits value="6" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="bnkrptcy_addtnl_info_prf_of_claim_objctn_dttm" type="xs:dateTime" minOccurs="0" />

			<xs:element name="bnkrptcy_addtnl_info_prf_of_claim_wthdrwn_dttm" type="xs:dateTime" minOccurs="0" />

			<xs:element name="bnkrptcy_addtnl_info_prf_of_claim_rsn_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="bnkrptcy_addtnl_info_bnkrptcy_pttn_dttm" type="xs:dateTime" minOccurs="0" />

			<xs:element name="bnkrptcy_addtnl_info_bnkrptcy_pttn_cmmnt_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="492" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="bnkrptcy_addtnl_info_unscr_bnkrptcy_dttm" type="xs:dateTime" minOccurs="0" />

			<xs:element name="bnkrptcy_addtnl_info_unscr_bnkrptcy_cmmnt_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="492" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="bnkrptcy_addtnl_info_lien_survives_bnkrptcy_rsn_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="bnkrptcy_addtnl_info_rqst_fr_admssn_mailed_dttm" type="xs:dateTime" minOccurs="0" />

			<xs:element name="bnkrptcy_addtnl_info_mrchndse_srrndr_dttm" type="xs:dateTime" minOccurs="0" />

			<xs:element name="bnkrptcy_addtnl_info_mrchndse_srrndr_lctn_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="bnkrptcy_addtnl_info_dscrptn_of_mrchndse_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="bnkrptcy_addtnl_info_misc_Instructions_fr_mrchndse_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="bnkrptcy_addtnl_info_advrsry_dsmssl_dttm" type="xs:dateTime" minOccurs="0" />

			<xs:element name="bnkrptcy_addtnl_info_advrsry_prcdngs_filed_dttm" type="xs:dateTime" minOccurs="0" />

			<xs:element name="bnkrptcy_addtnl_info_schdld_bar_dttm" type="xs:dateTime" minOccurs="0" />

			<xs:element name="bnkrptcy_addtnl_info_hrng_dt_fr_relief_of_auto_stay_dttm" type="xs:dateTime" minOccurs="0" />

			<xs:element name="bnkrptcy_addtnl_info_hrng_time_fr_relief_of_auto_stay_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="bnkrptcy_addtnl_info_rschdld_hrng_dt_fr_relief_of_auto_stay_dttm" type="xs:dateTime" minOccurs="0" />

			<xs:element name="bnkrptcy_addtnl_info_rschdld_hrng_time_fr_relief_of_auto_stay_txt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="bnkrptcy_addtnl_info_mail_dt_of_court_denial_fr_relief_of_auto_stay_dttm" type="xs:dateTime" minOccurs="0" />

			<xs:element name="bnkrptcy_addtnl_info_filed_dt_fr_motion_to_lift_stay_dttm" type="xs:dateTime" minOccurs="0" />

			<xs:element name="bnkrptcy_addtnl_info_denial_dt_fr_motion_to_lift_stay_dt_dnd_dttm" type="xs:dateTime" minOccurs="0" />

			<xs:element name="bnkrptcy_addtnl_info_apprvl_dt_fr_motion_to_lift_stay_dt_dnd_dttm" type="xs:dateTime" minOccurs="0" />

		</xs:sequence>
		<!-- SEQUENCE NUMBER -->
		<xs:attribute name="seq_no" type="xs:long">
			<xs:annotation>
				<xs:documentation>sequence number</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<!-- ITEM TYPE MAPS TO Ref_entty_assctn_cd.entty_assctn_val_txt -->
		<xs:attribute name="type" type="xs:string" fixed="BANKRUPTCY_ADDITIONAL_INFO">
			<xs:annotation>
				<xs:documentation>entity type</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<!-- The biz_ky_id used to tie parent child entities -->
		<xs:attribute name="prnt_biz_ky_id" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>the biz_ky_id used to tie parent-child AND/OR related entities</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>