xFACts-Documentation/WorkingFiles/bdl_clltrl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2006-2016 Fair Isaac Corporation.  All rights reserved. -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.fico.com/xml/debtmanager/data/v1_0"
           targetNamespace="http://www.fico.com/xml/debtmanager/data/v1_0"
           elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xs:include schemaLocation="../../../dm_import_export_common.xsd" />

    <xs:include schemaLocation="../../bdl_udp_field_type.xsd" />

    <xs:include schemaLocation="bdl_clltrl_boat_engn_trlr.xsd"/>
    <xs:include schemaLocation="bdl_clltrl_rltd_prty.xsd"/>
    <xs:include schemaLocation="bdl_clltrl_engine.xsd"/>
    <xs:include schemaLocation="bdl_clltrl_gnrl.xsd"/>
    <xs:include schemaLocation="bdl_clltrl_boat.xsd"/>
    <xs:include schemaLocation="bdl_clltrl_cndtn.xsd"/>
    <xs:include schemaLocation="bdl_clltrl_fnncl.xsd"/>
    <xs:include schemaLocation="bdl_clltrl_insrnc.xsd"/>
    <xs:include schemaLocation="bdl_clltrl_prprty.xsd"/>
    <xs:include schemaLocation="bdl_clltrl_lien.xsd" />
    <xs:include schemaLocation="bdl_clltrl_lctn.xsd" />
    <xs:include schemaLocation="bdl_clltrl_misc.xsd" />
    <xs:include schemaLocation="bdl_clltrl_trlr.xsd" />
    <xs:include schemaLocation="bdl_clltrl_vltn.xsd" />
    <xs:include schemaLocation="bdl_clltrl_vhcl.xsd" />

    <xs:complexType name="bdl_clltrl_data_type">
        <xs:sequence>


            <!-- START Business Key elements -->
            <xs:element name="cnsmr_accnt_idntfr_agncy_id" type="xs:long" minOccurs="0" />

            <xs:element name="cnsmr_accnt_idntfr_lgcy_txt" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <xs:element name="crdtr_shrt_nm" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="8" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <xs:element name="cnsmr_accnt_crdtr_rfrnc_id_txt" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="40" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <xs:element name="cnsmr_accnt_crdtr_rfrnc_corltn_id_txt" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="40" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <!-- END Business Key elements -->

            <xs:element name="udp_fields" type="udp_fields_type" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>List of user defined page fields</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="clltrl_gnrl" type="bdl_clltrl_gnrl_data_type" minOccurs="1" maxOccurs="1" />
            <xs:element name="clltrl_fnncl" type="bdl_clltrl_fnncl_data_type" minOccurs="0" maxOccurs="1" />
            <xs:element name="clltrl_misc" type="bdl_clltrl_misc_data_type" minOccurs="0" maxOccurs="1" />
            <xs:element name="clltrl_prpty" type="bdl_clltrl_prpty_data_type" minOccurs="0" maxOccurs="1" />
            <xs:element name="clltrl_trlr" type="bdl_clltrl_trlr_data_type" minOccurs="0" maxOccurs="1" />
            <xs:element name="clltrl_vhcl" type="bdl_clltrl_vhcl_data_type" minOccurs="0" maxOccurs="1" />
            <xs:element name="clltrl_boat_engn_trlr" type="bdl_clltrl_boat_engn_trlr_data_type" minOccurs="0" maxOccurs="1" />
            <xs:element name="clltrl_boat" type="bdl_clltrl_boat_data_type" minOccurs="0" maxOccurs="1" />
            <xs:element name="clltrl_engine" type="bdl_clltrl_engine_data_type" minOccurs="0" maxOccurs="1" />

            <xs:element name="clltrl_rltd_prty" type="bdl_clltrl_rltd_prty_data_type" minOccurs="0" maxOccurs="1" />
            <xs:element name="clltrl_vltn" type="bdl_clltrl_vltn_data_type" minOccurs="0" maxOccurs="1" />

            <xs:element name="clltrl_cndtn" type="bdl_clltrl_cndtn_data_type" minOccurs="0" maxOccurs="1" />
            <xs:element name="clltrl_insrnc" type="bdl_clltrl_insrnc_data_type" minOccurs="0" maxOccurs="1" />
            <xs:element name="clltrl_lien" type="bdl_clltrl_lien_data_type" minOccurs="0" maxOccurs="1" />
            <xs:element name="clltrl_lctn" type="bdl_clltrl_lctn_data_type" minOccurs="0" maxOccurs="1" />

        </xs:sequence>

        <xs:attribute name="seq_no" type="xs:long">
            <xs:annotation>
                <xs:documentation>sequence number</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <!-- ITEM TYPE MAPS TO Ref_entty_assctn_cd.entty_assctn_val_txt -->
        <xs:attribute name="type" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>entity type</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <!-- The biz_ky_id used to tie parent child entities -->
        <xs:attribute name="biz_ky_id" type="xs:string" use="required" >
            <xs:annotation>
                <xs:documentation>the biz_ky_id used to tie parent-child AND/OR related entities</xs:documentation>
            </xs:annotation>
        </xs:attribute>

    </xs:complexType>

</xs:schema>